*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section#pricing{
    background-color: white;
    min-height: 80vh;
    margin: 50px;
}

section .pricing-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .pricing-container span{
    text-align: left;
    color: black;
    padding-top: 100px;
    font-weight: 600;
    font-size: 30px;
}

section .prix-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section .prix-col .col-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2152f3;
    border: 1px solid black;
    margin: 25px;
    min-height: 600px;
    width: 400px;
    text-align: center;
    border-radius: 5px;
}

section .prix-col .col-p:nth-child(2){
    background-color: black;
}

section .prix-col .col-p p{
    color: white;
}

section .prix-col .col-p i{
    font-size: 60px;
    color: white;
}

section .prix-col .col-p a{
    width: 60%;
    text-decoration: none;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

section .prix-col .col-p a.price-btn{
    background-color: #2152f3;
}
